.best {
    background: url(/img/bg/best.jpg) 0 0 no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
}

.best__title, .best__item{
    display: flex;
}

.best__item{
    justify-content: center;
}

.best__title{
    justify-content: center;
    padding-bottom: 40px;
    font-family: 'gagalinregular';
    font-size: 72px;
}

.best__colum{
    display: flex;
    flex-flow: column;
    width: 300px;
    margin: 0 15px;
}

.best__ing{
    height: 90px;
    margin-bottom: 25px;
}

.best__pic{
    height: 100%;
}

.best__name{
    font-family: 'lifehackmedium';
    font-size: 24px;
}

.best__text{
    font-family: 'ubuntulight';
    color: rgba(47, 50, 52, 0.8);
    font-size: 14px;
    line-height: 24px;
}
